/* 
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107; */




.container {
  margin: 20px 0px;
}

.header {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 40px;
}

.content {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.map {
  margin: auto;
  background-color: rgb(35, 35, 35);
  width: 100%;
  min-height: 60vh;
}

rect.map-bg {
  fill: #2d2d2d;
}


.marker1 {
  fill: rgb(255, 170, 0);
}

.map-container {
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 2vh;
  position: relative;
}

.table-container {
  margin: 30px auto;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

canvas#canvas {
  background-color: #1d1d1d;
  z-index: 0;
}

canvas#canvaspath {
  z-index: 2;
}

canvas#canvasmove {
  z-index: 3;
}

.header_el {
  margin: auto 10px;
}

